<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
 <key>clang_version</key>
<string>clang version 3.4.2 (tags/RELEASE_34/dot2-final)</string>
 <key>files</key>
 <array>
  <string>mdnsd.c</string>
 </array>
 <key>diagnostics</key>
 <array>
  <dict>
   <key>path</key>
   <array>
    <dict>
     <key>kind</key><string>event</string>
     <key>location</key>
     <dict>
      <key>line</key><integer>583</integer>
      <key>col</key><integer>37</integer>
      <key>file</key><integer>0</integer>
     </dict>
     <key>ranges</key>
     <array>
       <array>
        <dict>
         <key>line</key><integer>583</integer>
         <key>col</key><integer>44</integer>
         <key>file</key><integer>0</integer>
        </dict>
        <dict>
         <key>line</key><integer>583</integer>
         <key>col</key><integer>44</integer>
         <key>file</key><integer>0</integer>
        </dict>
       </array>
     </array>
     <key>depth</key><integer>0</integer>
     <key>extended_message</key>
     <string>Value stored to &apos;last&apos; is never read</string>
     <key>message</key>
     <string>Value stored to &apos;last&apos; is never read</string>
    </dict>
   </array>
   <key>description</key><string>Value stored to &apos;last&apos; is never read</string>
   <key>category</key><string>Dead store</string>
   <key>type</key><string>Dead assignment</string>
  <key>issue_context_kind</key><string>function</string>
  <key>issue_context</key><string>mdnsd_out</string>
  <key>issue_hash</key><string>90</string>
  <key>location</key>
  <dict>
   <key>line</key><integer>583</integer>
   <key>col</key><integer>37</integer>
   <key>file</key><integer>0</integer>
  </dict>
  </dict>
 </array>
</dict>
</plist>