# default cleanliness: ignore everything cleaned by `make distclean`
# (including the *clean targets that it calls)
*DS_Store*
*~
*.o
*.lo
*.dSYM
*.status
*.cache
*.log
stamp-h*
mhttp
mquery
config.h
confdefs.h
conftest*
Makefile
Makefile*orig
TAGS
ID
GTAGS
GRTAGS
GSYMS
GPATH
tags
cscope*.out
cscope.files
config*.lineno
conf*/*.awk
*deps/*.*o
*libs/*
*.tab.c
*.gch
*(Autosaved)*
lib*.a
libtool
*.dylib
*.la
*.lai
tests/atconfig
tests/atlocal
dist/*
*.tar.gz
*.tar.bz2
mdnsd-*.*.*/*
