*DS_Store*
*~
*.o
*.dSYM
*.status
*.cache
*.log
stamp-h*
mhttp
mquery
config.h
confdefs.h
conftest*
Makefile
Makefile.orig
TAGS
ID
GTAGS
GRTAGS
GSYMS
GPATH
tags
cscope*.out
cscope.files
config*.lineno
*deps/*.*o
